sudo: required
services:
  - docker

before_install:
  - docker build -t tanveermeman/docker-project -f Dockerfile.dev .

script:
  - docker run tanveermeman/docker-project npm run test -- --coverage
